<!DOCTYPE html>
<html>
    <head>
        <title>DJ Hunt Admin</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css">
        <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
        <link rel="stylesheet" href="/assets/fonts/line-awesome.min.css">
        <link rel="stylesheet" href="/assets/fonts/fontawesome5-overrides.min.css">
        <link rel="icon" href="/assets/img/GGFM/GGFM_ICON.png" type="image/png" />
        <link rel="stylesheet" href="/DJHUNT/assets/css/dj_hunt_css.css">
        <link rel="stylesheet" href="/assets/css/admin-base.css">
        <link rel="stylesheet" href="/assets/css/DJHuntAdmin.css">
        <link rel="stylesheet" href= "/assets/css/custom.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    </head>
    <body>
        <!-- Header -->
        <header id="upper" style="background-color: black; height: 120px;">
            <ul id="ul-upper-link">
                <li><a href="https://www.greengiantfm.com/"><img src="/assets/img/GGFM/GGFM_LOGO.png" id="upperLogo"
                            alt='Green Giant FM'></a></li>
                <ul id="header-admin">
                    <li><a href="/admin/home/hitlist" class="upperLink">Hitlist</a></li>
                    <li><a href="/admin/home/dj-hunt" class="upperLink">DJ Hunt</a></li>
                    <li>
                        <button id="logout-button" onclick="logout()">Log Out</button>
                    </li>
                </ul>
            </ul>
        </header>
        
        <!-- Menu -->
        <div id="sideMenu" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&#9776;&emsp;<em>Menu</em></a>
            <span class="sideLink">Live Polls</span>
            <a href="/admin/home/hitlist" class="pollLink"><i class="fas fa-music"></i>&ensp;Hitlist</a>
            <a href="/admin/home/dj-hunt" class="pollLink"><i class="fas fa-binoculars"></i>&ensp;DJ Hunt</a>
            <p id="sideLogOut" onclick="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i>&emsp;Log Out</p>
        </div>
        
        <!-- Menu Button -->
        <span id="sideMenuBtn" onclick="openNav()">&#9776;</span>
        
        <!-- Tabs -->
        <div class="tab" style="text-align: center;">
            <h1 class="page-title"><i class="fas fa-binoculars"></i>&ensp;DJ Hunt</h1>
            <p id="vote-details" style="color: #000000;">
                Voting Lines Close by <em id="hunt-date"></em> | <em id="hunt_time"></em>
            </p>
            <button id="addTab" class="active" onclick="openTab(event, 'Add')">Add</button>
            <button id="editTab" class="inactive" onclick="openTab(event, 'Edit')">Edit</button>
        </div>

        <!-- Add Tab -->
        <div id="addDJTab" class="tabcontent" style="display: block;">
            
            <form id="dj-hunt-form" method="POST" enctype="multipart/form-data">
                <div class="form-grid-container">
                    <div class="form-grid-item">
                        <div id="file-ip-1-preview" class="uploadplace">No Image Uploaded</div>
                        <div id="form-input-image">
                            <label id="label-file-ip-1" for="file-ip-1">Upload Image</label>
                            <input type="file" id="file-ip-1" name="picture_path" accept="image/*" onchange="showPreview(event);" required>
                        </div>
                    </div>
                    <div class="form-grid-item">
                        <div class="add-grid-container">
                            <div class="add-grid-item-label">
                                <b class="add-labels">DJ Name&nbsp;</b>
                            </div>
                            <div class="add-grid-item-field">
                                <input type="text" class="add-field" id="dj_name" name="dj_name" required>
                            </div>
                            <div class="add-grid-item-label">
                                <b class="add-labels">Actual Name&nbsp;</b>
                            </div>
                            <div class="add-grid-item-field">
                                <input type="text" class="add-field" id="actual_name" name="actual_name" required>
                            </div>
                            <div class="add-grid-item-label">
                                <b class="add-labels">Tagline&nbsp;</b>
                            </div>
                            <div class="add-grid-item-field">
                                <input type="text" class="add-field" id="tagline" name="tagline" required>
                            </div>
                            <div class="add-grid-item-label">
                                <b class="add-labels">Stinger File&nbsp;</b>
                            </div>
                            <div class="add-grid-item-field">
                                <label for="stinger_path" class="for-stinger-path" id="stinger-label">
                                    Upload Stinger File
                                </label>
                                <input type="file" id="stinger_path" name="stinger_path" accept="audio/*" style="display: none;" onchange="showName(event)" required>
                            </div>
                            <div class="add-grid-item-label">
                                <b class="add-labels">FB Profile Link&nbsp;</b>
                            </div>
                            <div class="add-grid-item-field">
                                <input type="text" class="add-field" id="facebook" name="facebook" required>
                            </div>
                            <div class="add-grid-item-label">
                                <b class="add-labels">IG Profile Link&nbsp;</b>
                            </div>
                            <div class="add-grid-item-field">
                                <input type="text" class="add-field" id="instagram" name="instagram" required>
                            </div>
                            <div class="add-grid-item-label">
                                <b class="add-labels">Twitter Link&nbsp;</b>
                            </div>
                            <div class="add-grid-item-field">
                                <input type="text" class="add-field" id="twitter" name="twitter" required>
                            </div>
                            <div class="add-grid-item-label">
                                <b class="add-labels">Video Link&nbsp;</b>
                            </div>
                            <div class="add-grid-item-field">
                                <input type="text" class="add-field" id="youtube_video" name="youtube_video" required>
                            </div>
                            <div class="add-grid-item-label">
                                <b class="add-labels">Spotify Link&nbsp;</b>
                            </div>
                            <div class="add-grid-item-field">
                                <input type="text" class="add-field" id="spotify_playlist" name="spotify_playlist" required>
                            </div>
                        </div>
                        <input type="submit" id="form-add-button" value="Add DJ">
                    </div>
                </div>
            </form>

        </div>
        
        <!-- Edit Tab -->
        <div id="editDJTab" class="tabcontent">
            
            <form onsubmit="return false">
                <div id="vote" class="grid-container-djs">
                    <div class="Shaun">
                        <div class="date-container">
                            <label for="start-date">Start Date:</label>
                            <input type="date" id="start-date" name="start-date">
                            <label for="end-date">End Date:</label>
                            <input type="date" id="end-date" name="end-date">
                            
                        </div>
                        <button id="doneDate" onclick="changeDate()">Save Date</button>
                </div>
                </div>

                <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                    <input type="button" id="huntDeleteSelected" onclick="openDeleteConfirm()" value="Delete Selected" style="margin-top: 15px;" disabled>
                    <input type="button" id="huntDeleteAll"  onclick="deleteConfirmModal()" value="Delete All" style="margin-top: 15px;" >
                    
                </div>

                <div id="deleteModal">
                    <h2>Delete All Djs</h2>
                    <p>Are you sure you want to delete all djs?</p>
                    <button id="huntDeleteAllDj" onclick="deleteAllDjs()" >Delete All</button>
                    <button id="huntCancelDelete" onclick="deleteCancelModal()" style="margin-bottom: 15px; margin-top: 15px; background-color: rgb(20, 20, 20);">Cancel</button>
                </div>

                <div id="deleteSelectedModal">
                    <h2>Delete Selected Djs</h2>
                    <p>Are you sure you want to delete the selected djs?</p>
                    <button id="huntDeleteSelectedDj" onclick="deleteSelectedDjs()" >Delete Selected</button>
                    <button id="huntCancelDeleteSelected" onclick="deleteSelectedCancelModal()" style="margin-bottom: 15px; margin-top: 15px; background-color: rgb(20, 20, 20);">Cancel</button>
                </div>
                
                <div id="djvote" class="tabcontent">
                    <h1 id="confirm_desk">Delete Selected?</h1>
                    <div class="grid-container-confirm">

                        <div id="confirmation">
                            <p id="confirm_mobile">Delete Selected?</p>
                            <input type="button" id="huntConfirm" onclick="submitVote()" value="Confirm">
                            <input type="button" id="huntCancel" onclick="cancelVote()" value="Back">
                        </div>
                    </div>
                </div>
                <div id="voteSubmitted" class="grid-container-submitted" style="display:none;">
                    <div class="grid-item-submitted-photo">
                        <img id="submittedImage" src="/assets/img/GGFM/GGFM_ICON.png">
                    </div>
                    <div class="grid-item-submitted-message">
                        <p id="submittedMessage">Thank you for voting.</p>
                        <input type="submit" class="huntBack" onclick="closeConfirm()" value="Back">
                    </div>
                </div>
            </form>
            <div class="grid-container-djs live-desktop" id="vote">
                
            </div>
        </div>

        <!-- DJ Edit -->
        <div id="djPage-desk" style="text-align: center; justify-content: center; display: none;">
            <div id="djEdit-desk">
                <div class="grid-container-edit" style="margin-top: 20px;">
                    <form id="dj-hunt-update" method="POST" enctype="multipart/form-data">
                        <div class="update-grid-container">
                            <div class="update-grid-item">
                                <div id="update-dj-photo" class="uploadplace"></div>
                                <div id="update-input" class="update-input">
                                    <label id="update-label-file-ip-1" for="update-file-ip-1">Change Image</label>
                                    <input type="file" id="update-file-ip-1" name="update-picture_path" accept="image/*" onchange="showUpdatePreview(event)">
                                </div>
                            </div>
                            <div class="update-grid-item">
                                <div class="update-grid-container">
                                    <div class="update-grid-item-label">
                                        <b class="update-labels">DJ Name&nbsp;</b>
                                    </div>
                                    <div class="update-grid-item-field">
                                        <input type="text" class="update-field" id="update-dj_name" name="dj_name">
                                    </div>
                                    <div class="update-grid-item-label">
                                        <b class="update-labels">Actual Name&nbsp;</b>
                                    </div>
                                    <div class="update-grid-item-field">
                                        <input type="text" class="update-field" id="update-actual_name" name="actual_name">
                                    </div>
                                    <div class="update-grid-item-label">
                                        <b class="update-labels">Tagline&nbsp;</b>
                                    </div>
                                    <div class="update-grid-item-field">
                                        <input type="text" class="update-field" id="update-tagline" name="tagline">
                                    </div>
                                    <div class="update-grid-item-label">
                                        <b class="update-labels">Stinger File&nbsp;</b>
                                    </div>
                                    <div class="update-grid-item-field">
                                        <label for="update-stinger_path" class="for-stinger-path" id="update-stinger-label">
                                            <input type="file" id="update-stinger_path" name="update-stinger_path" accept="audio/*"
                                                style="display: none;" onchange="showUpdateName(event)">
                                            Upload Stinger File
                                        </label>
                                    </div>
                                    <div class="update-grid-item-label">
                                        <b class="update-labels">FB Profile Link&nbsp;</b>
                                    </div>
                                    <div class="update-grid-item-field">
                                        <input type="text" class="update-field" id="update-facebook" name="facebook">
                                    </div>
                                    <div class="update-grid-item-label">
                                        <b class="update-labels">IG Profile Link&nbsp;</b>
                                    </div>
                                    <div class="update-grid-item-field">
                                        <input type="text" class="update-field" id="update-instagram" name="instagram">
                                    </div>
                                    <div class="update-grid-item-label">
                                        <b class="update-labels">Twitter Link&nbsp;</b>
                                    </div>
                                    <div class="update-grid-item-field">
                                        <input type="text" class="update-field" id="update-twitter" name="twitter">
                                    </div>
                                    <div class="update-grid-item-label">
                                        <b class="update-labels">Video Link&nbsp;</b>
                                    </div>
                                    <div class="update-grid-item-field">
                                        <input type="text" class="update-field" id="update-youtube_video" name="youtube_video">
                                    </div>
                                    <div class="update-grid-item-label">
                                        <b class="update-labels">Spotify Link&nbsp;</b>
                                    </div>
                                    <div class="update-grid-item-field">
                                        <input type="text" class="update-field" id="update-spotify_playlist" name="spotify_playlist">
                                    </div>
                                </div>
                                <input type="submit" id="submit-edit" value="Save Changes">
                            </div>
                        </div>
                    
                    </form>
                </div>
                <button id="exitDJPage-desk" onclick="closeDJEdit()"><i class="fa fa-times" aria-hidden="true"></i></button>
            </div>
        </div>

    </body>

    <script src="/assets/js/DJHuntAdmin.js"></script>

</html>