<!DOCTYPE html>
<html>
    <head>
        <title>Hitlist</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css">
        <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
        <link rel="stylesheet" href="/assets/fonts/line-awesome.min.css">
        <link rel="stylesheet" href="/assets/fonts/fontawesome5-overrides.min.css">
        <link rel="stylesheet" href="/assets/css/base.css">
        <link rel="stylesheet" href="/assets/css/HitlistAdmin.css">
        <link rel="icon" href="/assets/img/GGFM/GGFM_ICON.png" type="image/png" />
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        <script src="/assets/js/HitlistAdmin.js"></script>
</head>
    <body>
        <!-- Header -->
        <header id="upper" style="background-color: black;height:120px;">
            <ul class="upper-link">
                <li><a href="https://www.greengiantfm.com/" class="upperLink"><img src="/assets/img/GGFM/GGFM_LOGO.png" alt='Green Giant FM' style="width:175px;"></a></li>
                <ul id="header-admin">
                    <li><a href="/admin/home/hitlist" class="pollsDrop">Hitlist</a></li>
                    <li><a href="/admin/home/dj-hunt" class="pollsDrop">DJ Hunt</a></li>
                    <li>
                        <button type="button" id="logout-button" onclick="logout()">Log Out</button>
                    </li>
               </ul>
            </ul>
        </header>

        <!-- Menu -->
        <div id="sideMenu" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&#9776;&emsp;<em>Menu</em></a>
            <span class="sideLink">Live Polls</span>
            <a href="/admin/home/hitlist" class="pollLink"><i class="fas fa-music"></i>&ensp;Hitlist</a>
            <a href="/admin/home/dj-hunt" class="pollLink"><i class="fas fa-binoculars"></i>&ensp;DJ Hunt</a>
        </div>
        
        <!-- Menu Button -->
        <span id="sideMenuBtn" onclick="openNav()" style="margin-right:1200px;">&#9776;</span>
            
        <!-- Tabs -->  
        <div class="tab" style="text-align: center;">
            <h1 id="page_title" style="font-weight: bolder; color: #569429"><i class="fas fa-music"></i>&ensp;The Hitlist</h1>
            <button id="addTab" class="active" onclick="openTab(event, 'Add')" style="margin-right:35px;">Add</button>
            <button id="editTab" class="inactive" onclick="openTab(event, 'Edit')" style="margin-left:35px;">Edit</button>
        </div>

        <!-- Vote Count -->
        <div style="text-align: center;">
            <h1 id="vote_count" style="font-size: large;">Total Vote Count: </h1>
        </div>

        <!-- Add Tab -->
        <div id="add" class="tabcontent" style="display: block;">
            <form onsubmit="return false">
                <div class="add-song-container">
                    <div class="add-song-grid-item-label">
                        <label for="title">Title</label>
                    </div>
                    <div class="add-song-grid-item-field">
                        <input type="text" id="title" name="title" required>
                    </div>
                    <div class="add-song-grid-item-label">
                        <label for="artist">Artist</label>
                    </div>
                    <div class="add-song-grid-item-field">
                        <input type="text" id="artist" name="artist" required>
                    </div>
                    <div class="add-song-grid-item-label">
                        <label for="spotify_link">Spotify Link</label>
                    </div>
                    <div class="add-song-grid-item-field">
                        <input type="text" id="spotify_link" name="spotify_link" required>
                    </div>
                    <button id="addSubmit" onclick="addSong()">Add Song</button> 
                </div>
            </form>
        </div>

        <!-- Edit Tab -->
        <div id="edit" class="tabcontent">
            <div class="date-container">
                <div class="date-item">
                    <label for="start-date">Start Date:</label>
                    <input type="date" id="start-date" name="start-date">
                </div>
                <div class="date-item">
                    <label for="end-date">End Date:</label>
                    <input type="date" id="end-date" name="end-date">
                </div>
                <div class="date-button">
                    <button style="display: block" id="doneDate" onclick="changeDate()">Save Date</button>
                </div>
            </div>
            <form action="#">
                <div class="grid-container" id='grid-container'>
                    
                </div>
                <div class="remove-container">
                    <input type="button" id="remove" disabled onclick="openConfirm()" value="Remove">
                    <input type="button" id="removeAll" onclick="deleteConfirmModal()" value="Remove All">
                </div>

                <div id="deleteModal">
                    <h2>Delete All Songs</h2>
                    <p>Are you sure you want to delete all songs?</p>
                    <button id="songDeleteAll" onclick="deleteAllSongs()" >Delete All</button>
                    <button id="songCancelDelete" onclick="deleteCancelModal()" style="margin-bottom: 15px; margin-top: 15px; background-color: rgb(20, 20, 20);">Cancel</button>
                </div>
                <!-- Voting Tab Overlay -->
                <!-- Voting Tab Overlay -->
                <div id="overlay">
                    <div id="confirmation" class="overlayItems">
                        <h1 id="confirm_text">CONFIRM VOTE</h1>
                        <input type="button" id="confirmVote" onclick="submitVote()" style="margin-right:5px;" value="Yes">
                        <input type="button" id="cancelVote" onclick="closeConfirm()" style="margin-left:5px;" value="Cancel">
                    </div>
                    <div id="voteConfirmed" class="overlayItems">
                        <h1 id="submit_text">VOTE CONFIRMED</h1>
                        <input type="submit" id="doneVote" onclick="closeConfirm()" value="DONE">
                    </div>
                </div>
            </form>
        </div>

    </body>
</html>