<!DOCTYPE html>
<html>
    <head>
        <title>DJ Hunt Admin</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css">
        <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
        <link rel="stylesheet" href="/assets/fonts/line-awesome.min.css">
        <link rel="stylesheet" href="/assets/fonts/fontawesome5-overrides.min.css">
        <link rel="stylesheet" href="/assets/css/base.css">
        <link rel="icon" href="/assets/img/GGFM/GGFM_ICON.png" type="image/png" />
        <link rel="stylesheet" href="/DJHUNT/assets/css/dj_hunt_css.css">
        <link rel="stylesheet" href="/assets/css/DJHuntAdmin.css">
        <link rel="stylesheet" href= "/assets/css/custom.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        
        
    </head>
    <body>
        <!-- Header (Menu) -->
        <header id="upper" style="background-color: black;">
            <ul class="upper-link">
                <li><img src="/assets/img/GGFM/GGFM_LOGO.png" alt='Green Giant FM' style="width:175px;"></li>
                <li><a href="#" class="upperLink">Home</a></li>
                <li><a href="#" class="upperLink">About Us</a></li>
                <li><a href="#" class="upperLink">Radio Talents</a></li>
                <li><a href="#" class="upperLink">Events</a></li>
                <li><a href="#" class="upperLink">Blogs</a></li>
                <li><a href="#" class="upperLink">Contact Us</a></li>
                <li>
                    <div id="drop-menu" class="upperLink" onmouseover="openDrop()" onmouseout="closeDrop()">
                        <p id="drop-polls" style="margin: 0px;">Live Polls</p>
                        <div id="drop-inner-div" class="dropdown-content">
                            <ul id="drop-list">
                                <li><a href="/HITLIST_POLL/main.html" class="pollsDrop"><i
                                            class="fas fa-music"></i>&ensp;Hitlist</a></li>
                                <li><a href="/DJHUNT/djhunt.html" class="pollsDrop"><i class="fas fa-binoculars"></i>&ensp;DJ
                                        Hunt</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li><a href="#" class="upperLink">Stream</a></li>
                <li>
                    <input type="text" placeholder="Search..." name="search" id="searchbar">
                    <a href="#" id="searchbtn"><i class="fa fa-search" aria-hidden="true" id="searchIcon"></i></a>
                </li>
            </ul>
        </header>

        <!-- Tab Contents -->
        <div class="w3-container tab">
            <h1 id="page_title" style="font-weight: bolder; color: #569429"><i class="fas fa-binoculars"></i>&ensp;DJ Hunt</h1>
            <p id="vote_details" style="color: #000000;">
                Voting Lines Close by <em id="hunt-date"></em> | <em id="hunt_time"></em>
            </p>
            <button id="addTab" class="active" onclick="openTab(event, 'Add')">Add</button>
            <button id="editTab" class="inactive" onclick="openTab(event, 'Edit')">Edit</button>
        </div>

        <!-- Menu -->
        <div id="sideMenu" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&#9776;&emsp;<em>Menu</em></a>
            <a href="#" class="sideLink">Home</a>
            <a href="#" class="sideLink">About Us</a>
            <a href="#" class="sideLink">Radio Talents</a>
            <a href="#" class="sideLink">Events</a>
            <a href="#" class="sideLink">Blogs</a>
            <a href="#" class="sideLink">Contact Us</a>
            <a href="#" class="sideLink">Stream</a>
            <span class="sideLink">Live Polls</span>
            <a href="/HITLIST_POLL/main.html" class="pollLink"><i class="fas fa-music"></i>&ensp;Hitlist</a>
            <a href="/DJHUNT/djhunt.html" class="pollLink"><i class="fas fa-binoculars"></i>&ensp;DJ Hunt</a>
        </div>

        <!-- Menu Button -->
        <span id="sideMenuBtn" onclick="openNav()">&#9776;</span>

        <!-- Voting Tab -->
        <div id="votingTab" class="tabcontent w3-center" style="display: block;">
            
            <form id="dj-hunt-form" enctype="multipart/form-data">
                <div class="w3-container tab" style="border: 4px solid black; width: 315px; height: 700px; margin-left:520px; margin-top: 50px;">
                
                    <div class="uploadplace">
                        <div class="form-input">
                          <label for="file-ip-1">Upload Image 315 x 300</label>
                          <input type="file" id="file-ip-1" name="picture_path" accept="image/*" onchange="showPreview(event);">
                          <div class="preview">
                            <img id="file-ip-1-preview" style="object-fit: cover">
                          </div>
                        </div>
                    </div>
                </div>
            
                   
                <div class="w3-container tab" style="border: 0px solid black; width: 500px; margin-left: 850px; margin-top: -700px;">
                    
                    <br>
                    
    
                    <label for="dj_name"><b>DJ Name&nbsp;</b></label>
                    <input type="text" id="dj_name" name="dj_name" style="width: 300px;border-radius: 10px; border: none; background-color: #ECECEC; margin-right: 10px;">
                
                        <br><br>
        
                    <label for="actual_name"><b>Actual Name&nbsp;</b></label>
                    <input type="text" id="actual_name" name="actual_name" style="width: 300px;border-radius: 10px; border: none; background-color: #ECECEC; margin-right: 35px;">
                    
                    <br><br>
                            
                    <label for="tagline"><b>Tagline&nbsp;</b></label>
                    <input type="text" id="tagline" name="tagline" style="width: 300px;border-radius: 10px; border: none; background-color: #ECECEC; margin-right: 0px;">
                        
                    <br><br>
    
                    <label for="stinger_path"><b>Stinger File&nbsp;</b></label>
                    <input type="file" id="stinger_path" name="stinger_path" accept="audio/*" style="width: 300px;border-radius: 10px; border: none; background-color: #ECECEC; margin-right: 25px;">
                            
                    <br><br>
    
                    <label for="facebook"><b>FB Profile Link&nbsp;</b></label>
                    <input type="text" id="facebook" name="facebook" style="width: 300px;border-radius: 10px; border: none; background-color: #ECECEC; margin-right: 45px;">
                
                    <br><br>
    
                    <label for="instagram"><b>IG Profile Link&nbsp;</b></label>
                    <input type="text" id="instagram" name="instagram" style="width: 300px;border-radius: 10px; border: none; background-color: #ECECEC; margin-right: 45px;">
                    
                    <br><br>
    
                    <label for="twitter"><b>Twitter Link&nbsp;</b></label>
                    <input type="text" id="twitter" name="twitter" style="width: 300px;border-radius: 10px; border: none; background-color: #ECECEC; margin-right: 25px;">
                        
                    <br><br>
    
                    <label for="youtube_video"><b>Video Link&nbsp;</b></label>
                    <input type="text" id="youtube_video" name="youtube_video" style="width: 300px;border-radius: 10px; border: none; background-color: #ECECEC; margin-right: 25px;">
                
                    <br><br>
    
                    <label for="spotify_playlist"><b>Spotify Link&nbsp;</b></label>
                    <input type="text" id="spotify_playlist" name="spotify_playlist" style="width: 300px;border-radius: 10px; border: none; background-color: #ECECEC; margin-right: 25px;">
                
                    <br><br>
                    
                    <input type="submit" value="ADD">
                      
                </div>
            </form>


        
        </div>
            

                
            
    

        <!-- Live Polls -->
        <div id="live" class="tabcontent">
            
            <form action="#">
                <div id="vote" class="grid-container-djs">
                    
                </div>
                <input type="button" id="huntSubmit" onclick="openConfirm()" value="VOTE" disabled>
                <div id="djvote" class="tabcontent">
                    <h1 id="confirm_desk">Confirm Vote?</h1>
                    <div class="grid-container-confirm">
                        <div class="grid-item-dj" id="votedDJ1_desk">
                            <div class="grid-container-DJ-desk">
                                <a class="grid-item-DJ-desk-photo" href="djpage.html">
                                    <img class="dj-background" src="/DJHUNT/assets/img/DJs/d1.jpg">
                                    <p class="dj-name">Cora</p>
                                </a>
                                <p class="grid-item-DJ-desk-name">Cora</p>
                            </div>
                        </div>
                        <div class="grid-item-djVoted" id="votedDJ1">
                            <div class="grid-container-confirmDJs">
                                <div class="votedBackground">
                                    <img class="votedImage" src="/DJHUNT/assets/img/DJs/d1.jpg">
                                </div>
                                <p class="votedTagline"><em class="votedName">Cora</em><br>Tagline</p>
                            </div>
                        </div>
                        <div class="grid-item-dj" id="votedDJ2_desk">
                            <div class="grid-container-DJ-desk">
                                <a class="grid-item-DJ-desk-photo" href="djpage.html">
                                    <img class="dj-background" src="/DJHUNT/assets/img/DJs/d2.jpg">
                                    <p class="dj-name">Javi</p>
                                </a>
                                <p class="grid-item-DJ-desk-name">Javi</p>
                            </div>
                        </div>
                        <div class="grid-item-djVoted" id="votedDJ2">
                            <div class="grid-container-confirmDJs">
                                <div class="votedBackground">
                                    <img class="votedImage" src="/DJHUNT/assets/img/DJs/d2.jpg">
                                </div>
                                <p class="votedTagline"><em class="votedName">Javi</em><br>Tagline</p>
                            </div>
                        </div>
                        <div class="grid-item-dj" id="votedDJ3_desk">
                            <div class="grid-container-DJ-desk">
                                <a class="grid-item-DJ-desk-photo" href="djpage.html">
                                    <img class="dj-background" src="/DJHUNT/assets/img/DJs/d3.jpg">
                                    <p class="dj-name">Joaquin</p>
                                </a>
                                <p class="grid-item-DJ-desk-name">Joquin</p>
                            </div>
                        </div>
                        <div class="grid-item-djVoted" id="votedDJ3">
                            <div class="grid-container-confirmDJs">
                                <div class="votedBackground">
                                    <img class="votedImage" src="/DJHUNT/assets/img/DJs/d3.jpg">
                                </div>
                                <p class="votedTagline"><em class="votedName">Joaquin</em><br>Tagline</p>
                            </div>
                        </div>
                        <div class="grid-item-dj" id="votedDJ4_desk">
                            <div class="grid-container-DJ-desk">
                                <a class="grid-item-DJ-desk-photo" href="djpage.html">
                                    <img class="dj-background" src="/DJHUNT/assets/img/DJs/d4.jpg">
                                    <p class="dj-name">Macoy</p>
                                </a>
                                <p class="grid-item-DJ-desk-name">Macoy</p>
                            </div>
                        </div>
                        <div class="grid-item-djVoted" id="votedDJ4">
                            <div class="grid-container-confirmDJs">
                                <div class="votedBackground">
                                    <img class="votedImage" src="/DJHUNT/assets/img/DJs/d4.jpg">
                                </div>
                                <p class="votedTagline"><em class="votedName">Macoy</em><br>Tagline</p>
                            </div>
                        </div>
                        <div class="grid-item-dj" id="votedDJ5_desk">
                            <div class="grid-container-DJ-desk">
                                <a class="grid-item-DJ-desk-photo" href="djpage.html">
                                    <img class="dj-background" src="/DJHUNT/assets/img/DJs/d5.jpg">
                                    <p class="dj-name">Michael</p>
                                </a>
                                <p class="grid-item-DJ-desk-name">Michael</p>
                            </div>
                        </div>
                        <div class="grid-item-djVoted" id="votedDJ5">
                            <div class="grid-container-confirmDJs">
                                <div class="votedBackground">
                                    <img class="votedImage" src="/DJHUNT/assets/img/DJs/d5.jpg">
                                </div>
                                <p class="votedTagline"><em class="votedName">Michael</em><br>Tagline</p>
                            </div>
                        </div>
                        <div class="grid-item-dj" id="votedDJ6_desk">
                            <div class="grid-container-DJ-desk">
                                <a class="grid-item-DJ-desk-photo" href="djpage.html">
                                    <img class="dj-background" src="/DJHUNT/assets/img/DJs/d6.jpg">
                                    <p class="dj-name">Fonz</p>
                                </a>
                                <p class="grid-item-DJ-desk-name">Fonz</p>
                            </div>
                        </div>
                        <div class="grid-item-djVoted" id="votedDJ6">
                            <div class="grid-container-confirmDJs">
                                <div class="votedBackground">
                                    <img class="votedImage" src="/DJHUNT/assets/img/DJs/d6.jpg">
                                </div>
                                <p class="votedTagline"><em class="votedName">Fonz</em><br>Tagline</p>
                            </div>
                        </div>
                        <div class="grid-item-dj" id="votedDJ7_desk">
                            <div class="grid-container-DJ-desk">
                                <a class="grid-item-DJ-desk-photo" href="djpage.html">
                                    <img class="dj-background" src="/DJHUNT/assets/img/DJs/d7.jpg">
                                    <p class="dj-name">Cora</p>
                                </a>
                                <p class="grid-item-DJ-desk-name">Robby</p>
                            </div>
                        </div>
                        <div class="grid-item-djVoted" id="votedDJ7">
                            <div class="grid-container-confirmDJs">
                                <div class="votedBackground">
                                    <img class="votedImage" src="/DJHUNT/assets/img/DJs/d7.jpg">
                                </div>
                                <p class="votedTagline"><em class="votedName">Robby</em><br>Tagline</p>
                            </div>
                        </div>
                        <div class="grid-item-dj" id="votedDJ8_desk">
                            <div class="grid-container-DJ-desk">
                                <a class="grid-item-DJ-desk-photo" href="djpage.html">
                                    <img class="dj-background" src="/DJHUNT/assets/img/DJs/d8.jpg">
                                    <p class="dj-name">Tony</p>
                                </a>
                                <p class="grid-item-DJ-desk-name">Tony</p>
                            </div>
                        </div>
                        <div class="grid-item-djVoted" id="votedDJ8">
                            <div class="grid-container-confirmDJs">
                                <div class="votedBackground">
                                    <img class="votedImage" src="/DJHUNT/assets/img/DJs/d8.jpg">
                                </div>
                                <p class="votedTagline"><em class="votedName">Tony</em><br>Tagline</p>
                            </div>
                        </div>
                        <div id="confirmation">
                            <p id="confirm_mobile">Confirm Vote?</p>
                            <input type="button" id="huntConfirm" onclick="submitVote()" value="Confirm">
                            <input type="button" id="huntCancel" onclick="cancelVote()" value="Back">
                        </div>
                    </div>
                </div>
                <div id="voteSubmitted" class="grid-container-submitted" style="display:none;">
                    <div class="grid-item-submitted-photo">
                        <img id="submittedImage" src="/assets/img/GGFM/GGFM_ICON.png">
                    </div>
                    <div class="grid-item-submitted-message">
                        <p id="submittedMessage">Thank you for voting.</p>
                        <input type="submit" class="huntBack" onclick="closeConfirm()" value="Back">
                    </div>
                </div>
            </form>
            <div class="grid-container-djs live-desktop" id="vote">
                
            </div>
        </div>

        <!-- DJ Page -->
        <div id="djPage-mobile" style="text-align: center; justify-content: center; display: none;">
            <div id="djInfo-mobile">
                <h1 id="djName-mobile" style="font-weight: bolder; color: #569429; text-align:center;"></h1>
                <div class="grid-container-details">
                    <div class="grid-item-misc">
                        <div class="grid-container-handle">
                            <div class="grid-item-photo">
                                <img id="dj-image-mobile" class="dj-background">
                            </div>
                            <div class="grid-item-handle">
                                <h6 id="fullName-mobile" style="font-weight: bolder; color: #000000;"></h6>
                                <a href="https://www.fb.com/" id="mobile-facebook"><img id="fb" class="handles"
                                        src="../../assets/img/SOC_MED/FB.png"
                                        onmouseover="this.src='../../assets/img/SOC_MED/FB_G.png';"
                                        onmouseout="this.src='../../assets/img/SOC_MED/FB.png';"></a>
                                <a href="https://www.twitter.com/" id="mobile-twitter"><img id="tw" class="handles"
                                        src="../../assets/img/SOC_MED/TW.png"
                                        onmouseover="this.src='../../assets/img/SOC_MED/TW_G.png';"
                                        onmouseout="this.src='../../assets/img/SOC_MED/TW.png';"></a>
                                <a href="https://www.instagram.com/" id="mobile-instagram"><img id="ig" class="handles"
                                        src="../../assets/img/SOC_MED/IG.png"
                                        onmouseover="this.src='../../assets/img/SOC_MED/IG_G.png';"
                                        onmouseout="this.src='../../assets/img/SOC_MED/IG.png';"></a>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item-misc">
                        <iframe id="djVideo-mobile" title="YouTube video player"
                            frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="grid-item-misc">
                        <audio id="djAudio-mobile" class="stinger" controls>
                            <source id="djStinger-mobile" type="audio/mp3">
                        </audio>
                    </div>
                    <div class="grid-item-misc">
                        <h3 id="djPlaylist-title"
                            style="font-weight: bolder; color: #000000; text-align: left; margin-left: 7px;">DJ's Playlist</h3>
                        <iframe id="djPlaylist-mobile" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                    </div>
                    <div class="grid-item-misc info-tagline">
                        <h5 id="details-tagline-mobile">Hi! Lorem Ipsum...</h5>
                    </div>
                </div>
                <button id="exitDJPage-mobile" onclick="closeDJPage()"><i class="fa fa-times" aria-hidden="true"></i></button>
            </div>
        </div>


        <div id="djPage-desk" style="text-align: center; justify-content: center; display: none;">
            <div id="djInfo-desk">
                <div class="grid-container-details" style="margin-top: 20px;">
                    <div class="grid-item-misc" style="text-align: right; justify-content: right;">
                        <div class="grid-item-photo">
                            <img id="dj-image-desk" class="dj-background">
                        </div>
                    </div>
                    <div class="grid-item-misc">
                        <div class="grid-item-handle" style="text-align: left;">

                            <form action="/action_page.php">
                                <h6 id="djName-desk" input type="text" name="djname"></h1>
                                <input type="text" id="dj_name" name="dj_name" placeholder ="Edit DJ Name" style="width: 300px;border-radius: 10px; border: none; background-color: #ECECEC; margin-right: 10px;">
                            </form>

                            <form action="/action_page.php">
                                <h6 id="fullName" input type="text" name="djname"></h1>
                                <input type="text" id="dj_name" name="dj_name" placeholder ="Edit DJ Name" style="width: 300px;border-radius: 10px; border: none; background-color: #ECECEC; margin-right: 10px;">
                            </form>

                            <form action="/action_page.php">
                                <h6 id="details-tagline-desk" input type="text" name="djname"></h1>
                                <input type="text" id="dj_name" name="dj_name" placeholder ="Edit DJ Name" style="width: 300px;border-radius: 10px; border: none; background-color: #ECECEC; margin-right: 10px;">
                            </form>

                            <form action="/action_page.php">
                                <h6 id="djName-desk" input type="text" name="djname"></h1>
                                <input type="text" id="dj_name" name="dj_name" placeholder ="Edit DJ Name" style="width: 300px;border-radius: 10px; border: none; background-color: #ECECEC; margin-right: 10px;">
                            </form>



                            
                            
                            <h6 id="fullName" style="font-weight: bolder; color: #000000;"></h6>
                            <h5 id="details-tagline-desk">Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since...</h5>
                            <audio id="djAudio-desk" class="stinger" controls>
                                <source id="djStinger-desk" type="audio/mp3">
                            </audio>
                        </div>
                        
                    </div>
                    <div class="grid-item-misc" style="width: 45px;">
                        <a href="https://www.fb.com/" id="desk-facebook"><img id="fb" class="handles"
                                src="../../assets/img/SOC_MED/FB.png" onmouseover="this.src='../../assets/img/SOC_MED/FB_G.png';"
                                onmouseout="this.src='../../assets/img/SOC_MED/FB.png';"></a>
                        <a href="https://www.twitter.com/" id="desk-twitter"><img id="tw" class="handles" src="../../assets/img/SOC_MED/TW.png"
                                onmouseover="this.src='../../assets/img/SOC_MED/TW_G.png';"
                                onmouseout="this.src='../../assets/img/SOC_MED/TW.png';"></a>
                        <a href="https://www.instagram.com/" id="desk-instagram"><img id="ig" class="handles" src="../../assets/img/SOC_MED/IG.png"
                                onmouseover="this.src='../../assets/img/SOC_MED/IG_G.png';"
                                onmouseout="this.src='../../assets/img/SOC_MED/IG.png';"></a>
                    </div>
                    <div class="grid-item-misc" style="grid-column: 1 / span 3;">
                        <div class="grid-container-handle">
                            <div class="grid-item-misc">
                                <iframe id="djVideo-desk" width="350" height="225" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
                            </div>
                            <div class="grid-item-misc">
                                <h5 style="font-weight: bolder; color: #000000; text-align: left; margin-left: 7px; margin-top: 0px; padding-top: 0px;">
                                    DJ's Playlist</h5>
                                <iframe id="djPlaylist-desk" width="300"
                                    height="190" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                <button id="exitDJPage-desk" onclick="closeDJPage()"><i class="fa fa-times" aria-hidden="true"></i></button>
            </div>
        </div>
        <script src="/assets/js/DJHuntAdmin.js"></script>