<!DOCTYPE html>
<html>
    <head>
        <title>Hitlist</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css">
        <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
        <link rel="stylesheet" href="/assets/fonts/line-awesome.min.css">
        <link rel="stylesheet" href="/assets/fonts/fontawesome5-overrides.min.css">
        <link rel="stylesheet" href="/assets/css/base.css">
        <link rel="icon" href="/assets/img/GGFM/GGFM_ICON.png" type="image/png" />
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        <script src="/assets/js/HitlistAdmin.js"></script>
</head>
<link rel="stylesheet" href="/assets/css/HitlistAdmin.css">


    <body>
    
        <!-- Header -->
        <header id="upper" style="background-color: black;height:120px;">
            <ul class="upper-link">
                <li><a href="https://www.greengiantfm.com/" class="upperLink"><img src="/assets/img/GGFM/GGFM_LOGO.png" alt='Green Giant FM' style="width:175px;"></a></li>
                
                
                <ul class="llenos">
                    <li><a href="/admin/home/hitlist" class="pollsDrop">Hitlist</a></li>
                    <li><a href="/admin/home/dj-hunt" class="pollsDrop">DJ Hunt</a></li>
                <button type="button" class="btn btn-default btn-sm" onclick="logout()">
                    <span class="log-out"></span> Log out
                  </button>
               </ul>
                
                
                <li>
                   
                    
                </li>
                
            </ul>
        </header>
            
        <!--**have yet to change the open tab parameter names**-->  
        <div class="w3-container tab" style="text-align: center;">
            <h1 id="page_title" style="font-weight: bolder; color: #569429"><i class="fas fa-music"></i>&ensp;The Hitlist</h1>
            <button id="voteTab" class="active" onclick="openTab(event, 'Vote')" style="margin-right:35px;">Add</button>
            <button id="liveTab" class="inactive" onclick="openTab(event, 'Live')" style="margin-left:35px;">Edit</button>
        </div>

        <!-- Menu -->
        <div id="sideMenu" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&#9776;&emsp;<em>Menu</em></a>
            
            <span class="sideLink">Live Polls</span>
            <a href="/admin/home/hitlist" class="pollLink"><i class="fas fa-music"></i>&ensp;Hitlist</a>
            <a href="/admin/home/dj-hunt" class="pollLink"><i class="fas fa-binoculars"></i>&ensp;DJ Hunt</a>
        </div>

        <!-- Menu Button -->
        <span id="sideMenuBtn" onclick="openNav()" style="margin-right:1200px;">&#9776;</span>

<!-- Voting Tab -->
<div id="vote" class="tabcontent w3-center" style="display: block;">
    <form action="#">
        <div class="grid-container">
            <div class="grid-item-voting" id="song1">
                <div class="grid-container-voting">
                    <div class="grid-item-song">
                       
                    </div>
                    <div class="grid-item-song">
                        <label for="song1">
                            
                            <img class="album" src="/assets/img/grey.png" alt='Brain Damage' style="margin-left:200px;margin-bottom:350px;width:150px; height:150px">
                        </label>
                    </div>
                    <div class="grid-item-song">
                        
                        
                        
                    </div>
                    
                    
                </div>
                
            </div>
           

            
            <br>
            
            <br>
            
        </div>
        
       
          
        
        
        
    </form>
    
    <form onsubmit="return false">
       
        <div class="icon">
          
        </div>
        <div class="add-dj-container">
            
            <div class="add-photo-container"></div>
            <div class="inputheader-flex-container">
                <p style="text-align: right;"><b>Title</b></p>
                <p style="text-align: right;"><b>Artist</b></p>
                <p style="text-align: right;"><b>Spotify Link</b></p>
                
            </div>

            
            <div class="inputbox-flex-container">
                
                <label for="title"></label>
                <input type="text" id="title" name="title">
                <br>
                
                <label for="artist"></label>
                <input type="text" id="artist" name="artist">
                <br>
                
                <label for="spotify_link"></label>
                <input type="text" id="spotify_link" name="spotify_link">
                <br>
                
                
                
            </div>
            <button id="voteSubmit" onclick="addSong()"style="margin-bottom:300px;">Add Song</button> 
            <label style="padding-left: -15px">
                
          
            </label>
        </div>
        </form>
        </div>
        
       

        

        <!-- Voting Tab Overlay -->
        <div id="overlay">
            <div id="confirmation" class="overlayItems">
                <h1 style="text-align: center; font-weight: bold; letter-spacing: 2px;">CONFIRM</h1>
                <button id="confirmVote" onclick="submitVote()" style="margin-right:5px;">Yes</button>
                <button id="cancelVote" onclick="cancelVote()" style="margin-left:5px;">Cancel</button>
            </div>
            <div id="voteConfirmed" class="overlayItems">
                <h1 style="text-align: center; font-weight: bold; letter-spacing: 2px;">EDIT CONFIRMED</h1>
                <button id="doneVote" onclick="closeConfirm()">DONE</button>
            </div>
        </div>

        <!-- Live Polls -->
        
        
        <div id="live" class="tabcontent">
            <div class="date-container">
                <label for="start-date">Start Date:</label>
                <input type="date" id="start-date" name="start-date">
                <label for="end-date">End Date:</label>
                <input type="date" id="end-date" name="end-date">
                
            </div>
              <button id="doneDate" onclick="changeDate()">Save Date</button>
            <form action="#">
                <div class="grid-container" id='grid-container'>
                    
                    <br>
                    <br>
                </div>
                <input type="button" id="remove" disabled onclick="openConfirm()"style="margin-left:780px;" value="Remove">
                <input type="button" id="removeAll" onclick="deleteConfirmModal()"style="margin-left:780px;margin-top:25px;" value="Remove All">

                <div id="deleteModal">
                    <h2>Delete All Songs</h2>
                    <p>Are you sure you want to delete all songs?</p>
                    <button id="songDeleteAll" onclick="deleteAllSongs()" >Delete All</button>
                    <button id="songCancelDelete" onclick="deleteCancelModal()" style="margin-bottom: 15px; margin-top: 15px; background-color: rgb(20, 20, 20);">Cancel</button>
                </div>
                <!-- Voting Tab Overlay -->
                <!-- Voting Tab Overlay -->
                <div id="overlay">
                    <div id="confirmation" class="overlayItems">
                        <h1 id="confirm_text">CONFIRM VOTE</h1>
                        <input type="button" id="confirmVote" onclick="submitVote()" style="margin-right:5px;" value="Yes">
                        <input type="button" id="cancelVote" onclick="closeConfirm()" style="margin-left:5px;" value="Cancel">
                    </div>
                    <div id="voteConfirmed" class="overlayItems">
                        <h1 id="submit_text">VOTE CONFIRMED</h1>
                        <input type="submit" id="doneVote" onclick="closeConfirm()" value="DONE">
                    </div>
                </div>
            </form>
        </div>

    </body>
</html>