/*----- Scrollbar -----*/
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: #191919;
}
::-webkit-scrollbar-thumb {
    /*
    background: linear-gradient(#96d46a, #569429, #315516);
    */
    background: #569429;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #5694298f;
    /*
    box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.295), 2px 2px 4px 4px rgba(0, 0, 0, 0.295);
    */
}

/*----- Dropdown Menu -----*/
.dropdown-content {
    display: none;
    text-align: left;
    position: absolute;
    background-color: #191919;
    border-radius: 3px;
    min-width: 115px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.445);
    padding: 10px;
    z-index: 3;
}
#drop-menu {
    position: relative;
    display: inline-block;
}
#drop-polls {
    margin: 0px;
    cursor: pointer;
}
#drop-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#drop-list li {
    margin: 3px;
    padding: 1px;
    display: block;
}
.pollsDrop {
    text-decoration:none;
    font-weight: bolder;
    font-size: 12px;
    color: #ffffff;
}
.pollsDrop:hover {
    color: #569429;
}

/*----- Body -----*/
body{
    font-family: "Raleway";
}

/*----- Upper Menu List -----*/
.upper-link {
    list-style-type: none;
    padding: 50px 0px 20px 0px;
    text-align: center;
    margin: 0px;
}

/*----- Upper Menu List Items (Links) -----*/
.upper-link li {
    display: inline;
    margin: 5px;
    padding: 2px;
}

/*----- Upper Menu List Items (Image) -----*/
.upper-image {
    text-align: center;
    width: 175px;
    padding: 50px 0px 20px 0px;
}

/*----- Upper Menu Links -----*/
.upperLink{
    text-decoration:none;
    font-weight: bolder;
    font-size: 12px;
    color: white;
}

/*----- Upper Menu hover over links -----*/
#upper a:hover, #searchIcon:hover {
    color: #569429;
}

/*----- Upper Menu Search Bar -----*/
#searchbar {
    outline: none;
    border: none;
    font-size: smaller;
    border-radius: 15px;
}

/*----- Upper Menu Search Button -----*/
#searchbtn {
    background-color: #000000;
    color: #ffffff;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

/*----- Voting Time -----*/
#hitlist_time, #hunt_time {
    font-style: normal;
}

/*----- Disable submit button -----*/
input:disabled,
input[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}

/*----- Desktop View (at least 1024px) -----*/
@media screen and (min-width: 1024px) {
    /*----- Side Menu -----*/
    .sidenav {
        height: 0;
        width: 0;
    }

    /*----- Side Menu Content -----*/
    .sidenav a,
    span {
        width: 0;
        font-size: 0;
    }

    /*----- Side Menu Close Button -----*/
    .sidenav .closebtn {
        line-height: 0;
    }

    /*----- Side Menu Close Button -----*/
    .sidenav .closebtn em {
        font-size: 0;
    }

    /*----- Side Menu Links -----*/
    .sidenav .sideLink, .pollLink {
        line-height: 0;
        font-size: 0;
    }

    /*----- Display Appropriate Menu -----*/
    #sideMenuBtn {
        display: none;
    }
    #upper {
        display: block;
        align-items: center;
        justify-content: center;
    }

    /*----- Tab buttons -----*/
    .tab button {
        background-color: inherit;
        float: center;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
    }

    /*----- Margins of Tab Buttons -----*/
    #voteTab{
        margin-right: 15px;
    }
    #liveTab{
        margin-left: 15px;
    }

    /*----- Voting Ended Message -----*/
    #hitlist_end, #hunt_end {
        display: flex;
        position: fixed;
        top: 350px;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
        justify-content: center;
        z-index: 1;
        background-color: #ffffffa1;
        background: #ffffffa1;
        backdrop-filter: blur(3px);
    }

    /*----- Voting Ended Outer Div -----*/
    #hitlist-outer-div, #hunt-outer-div {
        padding-top: 25px;
    }

    /*----- Voting Ended Inner Div -----*/
    #hitlist-inner-div, #hunt-inner-div {
        background-color: #ffffff;
        height: 125px;
        width: 550px;
        box-shadow: 0 1px 3px 1px rgba(85, 85, 85, 0.24);
    }

    /*----- Voting Ended Message -----*/
    #hitlist-end-message, #hunt-end-message {
        font-weight: bold;
    }

    /*----- Voting Ended Button -----*/
    #goToPolls {
        color: #ffffff;
        background-color: #569429;
        border: none;
        outline: none;
        border-radius: 8px;
        width: 330px;
        height: 45px;
        font-size: x-large;
        font-weight: bolder;
        letter-spacing: 2px;
        cursor: pointer;
    }
    #goToPolls:hover {
        box-shadow: 0 10px 14px 0 rgba(0, 0, 0, 0.24), 0 15px 48px 0 rgba(0, 0, 0, 0.19);
    }
}

/*----- Mobile View (at least 350 px and at most 1023px) -----*/
@media screen and (min-width: 350px) and (max-width: 1023px) {
    /*----- Side Menu Button -----*/
    #sideMenuBtn {
        font-size: 30px;
        cursor: pointer;
        position: absolute;
        top: 0;
        padding-top: 5px;
        padding-left: 5px;
        color: #569429;
        font-size: 30px;
        font-weight: bolder;
    }

    /*----- Side Menu -----*/
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        background-color: #569429;
        color: #ffffff;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.295), 1px 1px 3px 3px rgba(0, 0, 0, 0.295);
    }

    /*----- Side Menu Content -----*/
    .sidenav a,
    span {
        text-decoration: none;
        width: 250px;
        font-size: 25px;
        color: #ffffff;
        display: block;
        transition: 0.3s;
    }

    /*----- Side Menu hover over links -----*/
    .sidenav a:hover {
        background-color: #71b342;
    }

    /*----- Side Menu Close Button -----*/
    .sidenav .closebtn {
        padding: 8px 8px 3px 15px;
        margin-bottom: 100px;
        position: absolute;
        top: 0;
        font-size: 30px;
        font-weight: bolder;
        line-height: 40px;
    }

    /*----- Side Menu Close Button -----*/
    .sidenav .closebtn em {
        font-size: 20px;
        font-style: normal;
    }

    /*----- Side Menu Links -----*/
    .sidenav .sideLink {
        padding: 8px 8px 3px 30px;
        line-height: 40px;
        font-size: 15px;
        font-weight: bolder;
    }

    /*----- Side Menu Poll Links -----*/
    .sidenav .pollLink {
        padding: 8px 8px 3px 60px;
        line-height: 40px;
        font-size: 15px;
        font-weight: bolder;
    }

    /*----- Display Appropriate Menu ------*/
    #sideMenuBtn {
        display: block;
    }
    #upper{
        display: none;
    }

    /*----- Tab buttons -----*/
    .tab button {
        background-color: inherit;
        float: center;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
    }

    /*----- Margins of Tab Buttons -----*/
    #voteTab{
        margin-right: 15px;
    }
    #liveTab{
        margin-left: 15px;
    }

    /*----- Voting Ended Message -----*/
    #hitlist_end, #hunt_end {
        display: flex;
        position: fixed;
        top: 175px;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
        justify-content: center;
        z-index: 1;
        background-color: #ffffffa1;
        background: #ffffffa1;
        backdrop-filter: blur(3px);
    }

    /*----- Voting Ended Outer Div -----*/
    #hitlist-outer-div, #hunt-outer-div {
        padding-top: 25px;
    }

    /*----- Voting Ended Inner Div -----*/
    #hitlist-inner-div, #hunt-inner-div {
        background-color: #ffffff;
        height: 170px;
        width: 330px;
        box-shadow: 0 1px 3px 1px rgba(85, 85, 85, 0.24);
    }

    /*----- Voting Ended Message -----*/
    #hitlist-end-message, #hunt-end-message {
        font-weight: bold;
    }

    /*----- Voting Ended Button -----*/
    #goToPolls {
        color: #ffffff;
        background-color: #569429;
        border: none;
        outline: none;
        border-radius: 8px;
        width: 300px;
        height: 35px;
        font-size: large;
        font-weight: bolder;
        letter-spacing: 2px;
        cursor: pointer;
    }
    #goToPolls:hover {
        box-shadow: 0 10px 14px 0 rgba(0, 0, 0, 0.24), 0 15px 48px 0 rgba(0, 0, 0, 0.19);
    }
}

/*----- Mobile View (at most 349px) -----*/
@media screen and (max-width: 349px) {
    /*----- Side Menu Button -----*/
    #sideMenuBtn {
        font-size: 16px;
        cursor: pointer;
        position: absolute;
        top: 0;
        padding-top: 5px;
        padding-left: 5px;
        color: #569429;
        font-weight: bolder;
    }

    /*----- Side Menu -----*/
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        background-color: #569429;
        color: #ffffff;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 30px;
        box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.295), 1px 1px 3px 3px rgba(0, 0, 0, 0.295);
    }

    /*----- Side Menu Content -----*/
    .sidenav a,
    span {
        text-decoration: none;
        width: 125px;
        font-size: 12px;
        color: #ffffff;
        display: block;
        transition: 0.3s;
    }

    /*----- Side Menu hover over links -----*/
    .sidenav a:hover {
        background-color: #71b342;
    }

    /*----- Side Menu Close Button -----*/
    .sidenav .closebtn {
        padding: 1px 3px 1px 5px;
        position: absolute;
        top: 0;
        font-size: 16px;
        font-weight: bolder;
        line-height: 30px;
    }

    /*----- Side Menu Close Button -----*/
    .sidenav .closebtn em {
        font-size: 12px;
        font-style: normal;
    }

    /*----- Side Menu Links -----*/
    .sidenav .sideLink {
        padding: 6px 6px 3px 10px;
        line-height: 30px;
        font-size: 12px;
        font-weight: bolder;
    }

    /*----- Side Menu Poll Links -----*/
    .sidenav .pollLink {
        padding: 6px 6px 3px 20px;
        line-height: 30px;
        font-size: 12px;
        font-weight: bolder;
    }

    /*----- Display Appropriate Buttons -----*/
    #sideMenuBtn {
        display: block;
    }
    #upper{
        display: none;
    }

    /*----- Tab Contents (Title) -----*/
    #page_title{
        font-size: large;
    }
    #vote_time{
        font-size: 10px;
    }

    /*----- Tab buttons -----*/
    .tab button {
        background-color: inherit;
        float: center;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 2px 3px;
        transition: 0.3s;
        font-size: 13px;
    }

    /*----- Margins of Tab Buttons -----*/
    #voteTab{
        margin-right: 5px;
    }
    #liveTab{
        margin-left: 5px;
    }

    /*----- Voting Ended Message -----*/
    #hitlist_end, #hunt_end {
        display: flex;
        position: fixed;
        top: 140px;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
        justify-content: center;
        z-index: 1;
        background-color: #ffffffa1;
        background: #ffffffa1;
        backdrop-filter: blur(3px);
    }

    /*----- Voting Ended Outer Div -----*/
    #hitlist-outer-div, #hunt-outer-div {
        padding-top: 25px;
    }

    /*----- Voting Ended Inner Div -----*/
    #hitlist-inner-div, #hunt-inner-div {
        background-color: #ffffff;
        height: 185px;
        width: 215px;
        box-shadow: 0 1px 3px 1px rgba(85, 85, 85, 0.24);
    }

    /*----- Voting Ended Message -----*/
    #hitlist-end-message, #hunt-end-message {
        font-size: 30px;
        font-weight: bold;
    }

    /*----- Voting Ended Button -----*/
    #goToPolls {
        color: #ffffff;
        background-color: #569429;
        border: none;
        outline: none;
        border-radius: 8px;
        width: 200px;
        height: 25px;
        font-size: medium;
        font-weight: bolder;
        letter-spacing: 2px;
        cursor: pointer;
    }
    #goToPolls:hover {
        box-shadow: 0 10px 14px 0 rgba(0, 0, 0, 0.24), 0 15px 48px 0 rgba(0, 0, 0, 0.19);
    }
}

/*----- Tab Contents -----*/
.tab {
    text-align: center;
    background-color: #ffffff;
}

/*----- Hover over Tab buttons -----*/
.tab button:hover {
    background-color: rgb(240, 236, 236);
}

/*----- Active Tab -----*/
.tab button.active {
    outline: none;
    border: none;
    background-color: #ffffff;
    border-bottom: 3px solid #569429;
    color: #000000;
    font-weight: bolder;
}

/*----- Inactive Tab -----*/
.tab button.inactive {
    outline: none;
    border: none;
    background-color: #ffffff;
    border-bottom: 3px solid #5694298a;
    color: #8d8d8d;
    font-weight: bolder;
}

/*----- Content of each tab -----*/
.tabcontent {
    display: none;
    padding: 6px 12px;
    animation: fadeEffect 0.5s;
}

/*----- Animation for Transitions -----*/
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}