/*----- Font -----*/
body {
  font-family: "Raleway";
}

/*----- Upper Menu List -----*/
.upper-link {
    list-style-type: none;
    overflow: hidden;
    padding: 50px 0px 20px 0px;
    text-align: center;
}

/*----- Upper Menu List Items (Links) -----*/
.upper-link li {
    display: inline;
    margin: 5px;
    padding: 2px;
}

/*----- Upper Menu List Items (Image) -----*/
.upper-image {
    text-align: center;
    width: 175px;
    padding: 50px 0px 20px 0px;
}

/*----- Upper Menu Links -----*/
.upperLink{
    text-decoration:none;
    font-weight: bolder;
    font-size: 12px;
    color: white;
}

/*----- Upper Menu hover over links -----*/
#upper a:hover, #searchIcon:hover {
    color: #569429;
}

/*----- Upper Menu Search Bar -----*/
#searchbar {
    outline: none;
    border: none;
    font-size: smaller;
    border-radius: 15px;
}

/*----- Upper Menu Search Button -----*/
#searchbtn {
    background-color: #000000;
    color: #ffffff;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

/*----- Desktop View (at least 1024px) -----*/
@media screen and (min-width: 1024px) {
    /*----- Side Menu -----*/
    .sidenav {
        height: 0;
        width: 0;
    }

    /*----- Side Menu Content -----*/
    .sidenav a,
    span {
        width: 0;
        font-size: 0;
    }

    /*----- Side Menu Close Button -----*/
    .sidenav .closebtn {
        line-height: 0;
    }

    /*----- Side Menu Close Button -----*/
    .sidenav .closebtn em {
        font-size: 0;
    }

    /*----- Side Menu Links -----*/
    .sidenav .sideLink, .pollLink {
        line-height: 0;
        font-size: 0;
    }

    /*----- Display Appropriate Menu -----*/
    #sideMenuBtn {
        display: none;
    }
    #upper {
        display: block;
        overflow: hidden;
        align-items: center;
        justify-content: center;
    }

    /*----- Tab buttons -----*/
    .tab button {
        background-color: inherit;
        float: center;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
    }

    /*----- Margins of Tab Buttons -----*/
    #voteTab{
        margin-right: 15px;
    }
    #liveTab{
        margin-left: 15px;
    }
}

/*----- Mobile View (at least 350 px and at most 1023px) -----*/
@media screen and (min-width: 350px) and (max-width: 1023px) {
    /*----- Side Menu Button -----*/
    #sideMenuBtn {
        font-size: 30px;
        cursor: pointer;
        position: absolute;
        top: 0;
        padding-top: 5px;
        padding-left: 5px;
        color: #569429;
        font-size: 30px;
        font-weight: bolder;
    }

    /*----- Side Menu -----*/
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #569429;
        color: #ffffff;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

    /*----- Side Menu Content -----*/
    .sidenav a,
    span {
        text-decoration: none;
        width: 250px;
        font-size: 25px;
        color: #ffffff;
        display: block;
        transition: 0.3s;
    }

    /*----- Side Menu hover over links -----*/
    .sidenav a:hover {
        background-color: #71b342;
    }

    /*----- Side Menu Close Button -----*/
    .sidenav .closebtn {
        padding: 8px 8px 3px 15px;
        margin-bottom: 100px;
        position: absolute;
        top: 0;
        font-size: 30px;
        font-weight: bolder;
        line-height: 40px;
    }

    /*----- Side Menu Close Button -----*/
    .sidenav .closebtn em {
        font-size: 20px;
        font-style: normal;
    }

    /*----- Side Menu Links -----*/
    .sidenav .sideLink {
        padding: 8px 8px 3px 30px;
        line-height: 40px;
        font-size: 15px;
        font-weight: bolder;
    }

    /*----- Side Menu Poll Links -----*/
    .sidenav .pollLink {
        padding: 8px 8px 3px 60px;
        line-height: 40px;
        font-size: 15px;
        font-weight: bolder;
    }

    /*----- Display Appropriate Menu ------*/
    #sideMenuBtn {
        display: block;
    }
    #upper{
        display: none;
    }

    /*----- Tab buttons -----*/
    .tab button {
        background-color: inherit;
        float: center;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
    }

    /*----- Margins of Tab Buttons -----*/
    #voteTab{
        margin-right: 15px;
    }
    #liveTab{
        margin-left: 15px;
    }
}

/*----- Mobile View (at most 349px) -----*/
@media screen and (max-width: 349px) {
    /*----- Side Menu Button -----*/
    #sideMenuBtn {
        font-size: 16px;
        cursor: pointer;
        position: absolute;
        top: 0;
        padding-top: 5px;
        padding-left: 5px;
        color: #569429;
        font-weight: bolder;
    }

    /*----- Side Menu -----*/
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #569429;
        color: #ffffff;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 30px;
    }

    /*----- Side Menu Content -----*/
    .sidenav a,
    span {
        text-decoration: none;
        width: 125px;
        font-size: 12px;
        color: #ffffff;
        display: block;
        transition: 0.3s;
    }

    /*----- Side Menu hover over links -----*/
    .sidenav a:hover {
        background-color: #71b342;
    }

    /*----- Side Menu Close Button -----*/
    .sidenav .closebtn {
        padding: 1px 3px 1px 5px;
        position: absolute;
        top: 0;
        font-size: 16px;
        font-weight: bolder;
        line-height: 30px;
    }

    /*----- Side Menu Close Button -----*/
    .sidenav .closebtn em {
        font-size: 12px;
        font-style: normal;
    }

    /*----- Side Menu Links -----*/
    .sidenav .sideLink {
        padding: 6px 6px 3px 10px;
        line-height: 30px;
        font-size: 12px;
        font-weight: bolder;
    }

    /*----- Side Menu Poll Links -----*/
    .sidenav .pollLink {
        padding: 6px 6px 3px 20px;
        line-height: 30px;
        font-size: 12px;
        font-weight: bolder;
    }

    /*----- Display Appropriate Buttons -----*/
    #sideMenuBtn {
        display: block;
    }
    #upper{
        display: none;
    }

    /*----- Tab Contents (Title) -----*/
    #page_title{
        font-size: large;
    }
    #vote_time{
        font-size: 10px;
    }

    /*----- Tab buttons -----*/
    .tab button {
        background-color: inherit;
        float: center;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 2px 3px;
        transition: 0.3s;
        font-size: 13px;
    }

    /*----- Margins of Tab Buttons -----*/
    #voteTab{
        margin-right: 5px;
    }
    #liveTab{
        margin-left: 5px;
    }
}

/*----- Hover over Tab buttons -----*/
.tab button:hover {
    background-color: rgb(240, 236, 236);
}

/*----- Active Tab -----*/
.tab button.active {
    outline: none;
    border: none;
    background-color: #ffffff;
    border-bottom: 3px solid #569429;
    color: #000000;
    font-weight: bolder;
}

/*----- Inactive Tab -----*/
.tab button.inactive {
    outline: none;
    border: none;
    background-color: #ffffff;
    border-bottom: 3px solid #5694298a;
    color: #8d8d8d;
    font-weight: bolder;
}

/*----- Content of each tab -----*/
.tabcontent {
    display: none;
    padding: 6px 12px;
    animation: fadeEffect 0.5s;
}

/*----- Animation for Transitions -----*/
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}