body {
  font-family: "Raleway";
}

/*----- Side Menu Button -----*/
#sideMenuBtn {
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  top: 0;
  padding-top: 5px;
  padding-left: 5px;
  color: #569429;
  font-size: 30px;
  font-weight: bolder;
}

/*----- Side Menu -----*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #569429;
  color: #ffffff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

/*----- Side Menu Content -----*/
.sidenav a,
span {
  text-decoration: none;
  width: 250px;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

/*----- Side Menu hover over links -----*/
.sidenav a:hover {
  background-color: #71b342;
}

/*----- Side Menu Close Button -----*/
.sidenav .closebtn {
  padding: 8px 8px 3px 15px;
  margin-bottom: 100px;
  position: absolute;
  top: 0;
  font-size: 30px;
  font-weight: bolder;
  line-height: 40px;
}

/*----- Side Menu Close Button -----*/
.sidenav .closebtn em {
  font-size: 20px;
  font-style: normal;
}

/*----- Side Menu Links -----*/
.sidenav .sideLink {
  padding: 8px 8px 3px 30px;
  line-height: 40px;
  font-size: 15px;
  font-weight: bolder;
}

/*----- Side Menu Poll Links -----*/
.sidenav .pollLink {
  padding: 8px 8px 3px 60px;
  line-height: 40px;
  font-size: 15px;
  font-weight: bolder;
}

/*----- Checkbox for voting -----*/
input.checkSong {
  width: 20px;
  height: 20px;
}

/*----- Main Grid Container -----*/
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 30px 70px;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

/*----- DJ Card -----*/

.grid-item-dj {
  position: relative;
  overflow: hidden;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.24), 0 8px 24px 0 rgba(0, 0, 0, 0.19);
}

.dj-background {
  width: 100%;
  height: auto;
}

.dj-name {
  position: absolute;

  font-style: inherit;
  font-weight: bolder;
  top: -12px;
  right: 5px;
  color: white;
}

/*----- vote  button style -----*/


.round {
  position: absolute;
  bottom: 5px;
  left: 5px;
}

.round label {
  background-color: #fff;
  border: 2px solid rgb(25, 148, 0);
  border-radius: 50%;
  cursor: pointer;
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 20px;
}

.round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 3px;
  opacity: 0;
  position: absolute;
  top: 3px;
  transform: rotate(-45deg);
  width: 12px;
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background-color: #66bb6a;
  border-color: #66bb6a;
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}


/*----- Voting buttons -----*/
#voteSubmit,
#doneVote {
  background-color: #569429;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  width: 330px;
  height: 45px;
  font-size: x-large;
  font-weight: bolder;
  letter-spacing: 2px;
}

/*----- Hover over voting buttons -----*/
#voteSubmit:hover,
#doneVote:hover,
#confirmVote:hover,
#cancelVote:hover {
  box-shadow: 0 10px 14px 0 rgba(0, 0, 0, 0.24),
    0 15px 48px 0 rgba(0, 0, 0, 0.19);
}

/*----- Voting buttons -----*/
#voteSubmit:focus,
#doneVote:focus,
#confirmVote:focus,
#cancelVote:focus {
  outline: none;
}

/*----- Overlay -----*/

.voteDjs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.votedDjCard {
  width: 100%;
  height: 100px;
  background-color: #fff;
  box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.24), 0 8px 24px 0 rgba(0, 0, 0, 0.19);
  position: relative;
  margin: 10px 0;
}

.votedBackground {
  top: 10px;
  left: 15px;
  position: absolute;
  overflow: hidden;
  width: 80px;
  height: 80px;
  border-radius: 10px;
}

.votedName {
  position: absolute;
  left: 110px;
  top: -5px;
  font-weight: bolder;
  color: black;
}

.votedTagline {
  position: absolute;
  left: 110px;
  top: 30px;
  font-weight: bolder;
  color: rgb(75, 75, 75);
}
.votedImage {
  width: 100%;
  height: auto;
}
#djvote-overlay {
  position: fixed;
  display: none;
  min-height: 90vh;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: #ffffff;
  z-index: 1;
}

/*----- Overlay contents -----*/
.overlayItems {
  position: relative;
  top: 40%;
  color: #161616;
}

/*----- Overlay Confirmation -----*/
#confirmation {
  display: none;
}

/*----- Overlay Vote Confirmed -----*/

#voteConfirm {
  background-color: #569429;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  width: 330px;
  height: 45px;
  font-size: x-large;
  font-weight: bolder;
  letter-spacing: 2px;
}

#voteCancel {
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  width: 330px;
  height: 45px;
  font-size: x-large;
  font-weight: bolder;
  letter-spacing: 2px;
}

/*----- Overlay Vote Confirmed -----*/
#voteConfirmed {
  display: none;
}

/*----- Tab -----*/
.tab {
  overflow: hidden;
}

/*----- Tab buttons -----*/
.tab button {
  background-color: inherit;
  float: center;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/*----- Hover over Tab buttons -----*/
.tab button:hover {
  background-color: rgb(240, 236, 236);
}

/*----- Active Tab -----*/
.tab button.active {
  background-color: #ffffff;
  border-bottom: 3px solid #569429;
  color: #000000;
  font-weight: bolder;
}

/*----- Inactive Tab -----*/
.tab button.inactive {
  background-color: #ffffff;
  border-bottom: 3px solid #5694298a;
  color: #8d8d8d;
  font-weight: bolder;
}

/*----- Content of each tab -----*/
.tabcontent {
  display: none;
  padding: 6px 12px;
  animation: fadeEffect 1.5s;
}

/*----- Animation for Transitions -----*/
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
